* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: gray;
}

nav {
    position: relative;
    background-color: rgb(70, 70, 70);
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    background-color: cadetblue;
    margin: 0 10px;
}